body{
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle at top left  , rgba(186, 56, 220, 0.9) 0%, rgba(0, 0, 0, 0.9) 40%)
}